body{
    background-color: rgba(100, 121, 160, 0.682);
}
 h1{
    display: flex;
    justify-content: center;
    color: white;
    border: solid white 2px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.257);
 }

form{
    position: relative;
    top: 25px;
    display: flex;
    justify-content: center;
}

hr{
    position: relative;
    top: 50px;
    border: solid rgba(0, 0, 0, 0.257) 4px;

}
.pictures {
    position: relative;
    top: 100px;
    border: solid rgb(100, 121, 160) 4px;
    width: 200px;
    height: 200px;
}

#text-box{
    border: solid rgba(0, 0, 0, 0.734) 2px;
    position: relative;
    right:15px;
    width: 300px;
    height: 20px;
}

#text-box:hover {
    background-color: grey;
    color: white;
}

.delete {
    background-color: rgba(194, 73, 73, 0.791);
    cursor: pointer;
    position: relative;
    top: 100px;
    right: 15px;
}

#search{
    cursor: pointer;
    background-color: rgba(100, 121, 160, 0.943);
    border: 2px solid black;
}

#search:hover{
    background-color: rgba(102, 119, 152, 0.462);
}

#remove-all{
    cursor: pointer;
    background-color: rgba(194, 73, 73, 0.791);
    border: 2px solid black; 
    position: relative;
    left: 10px;
}

#remove-all:hover{
    background-color: rgba(194, 73, 73, 0.939);
}